.board{
	width: 800px;
	height: 800px;
	margin: 0 0 0 0;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid black;
}

.square{
	width: 100px;
	height: 100px;
	margin: 0 0 0 0;
	padding: 8 8 8 8;
	box-sizing: border-box;
	float: left;
}

.piece{
	width: 84px;
	height: 84px;
	margin: 0 0 0 0;
	box-sizing: border-box;
	border: 2px solid black;
	border-radius: 45%;
	background-color: white;
	font-size: 60px;
	text-align: center;
	line-height: 125%;
	cursor: pointer;
	user-select: none;
}

.focused{
	background-color: rgba(255, 255, 204) !important;
}

.clicked{
	background-color: rgba(204, 255, 255) !important;
}

.click{
	border: 3px solid cyan;
}

.guide{
	padding: 4 4 4 4;
	border: 4px solid rgba(0, 204, 0, 1);
}

.light{
	background-color: rgba(230, 230, 230);
}

.dark{
	background-color: rgba(77, 77, 77);
}